* {
  box-sizing: border-box;
  margin: 0px;
}

.first {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #eeecec;
  padding-bottom: 20px;
}
.header1 {
  display: flex;
  height: 93px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.header1 .box {
  display: flex;
}

.cata {
  display: flex;
  height: 19.5px;
  padding: 0pc 15px;
  align-items: center;
  align-self: center;
}

.search {
  align-self: center;
  margin: 0px 10px;
}
p {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 590;
  font-size: 16px;
}

.sum {
  transform: rotate(180deg);
  padding-right: 10px;
  align-self: flex-end;
  font-size: 20px;
}

.onoodor p:first-child {
  font-size: 12px;
  font-weight: 400;
  text-align: end;
}

.too {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.green {
  color: #2adb00;
  font-size: 18px !important;
  font-weight: 500;
}

.saaral {
  color: rgb(193, 191, 191);
  font-size: 16px;
  font-weight: 500;
}

.header1 .box:nth-child(2) {
  gap: 14px;
}

.onoodor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reddot {
  height: 7px;
  width: 7px;
  background-color: #e00034;
  border-radius: 50%;
  margin-right: 5px;
}

.logo {
  margin-right: 20px;
}

.advertisement {
  position: relative;
  height: 80px;
  width: 1055px;
  display: flex;
  overflow-x: hidden;
  border-radius: 10px;
}

.advertisement img {
  object-fit: cover;
  animation: backandforward 8s linear infinite;
}

.advertisement:hover {
  height: 491.15px;
  transition: 0.5s;
}
.advertisement:hover img {
  animation-play-state: paused;
}
.advertisement:hover .dot {
  opacity: 0;
}
.advertisement:hover .dot:first-child {
  animation-play-state: paused;
}
.advertisement:hover .dot:last-child {
  animation-play-state: paused;
}

@keyframes backandforward {
  0% {
    transform: translateX(0px);
  }

  5% {
    transform: translateX(-1055px);
  }

  50% {
    transform: translateX(-1055px);
  }

  55% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
  }
}

.runner {
  position: absolute;
  display: flex;
  width: 1055px;
  top: 70px;
  display: flex;
  gap: 5px;
  z-index: 2;
  justify-content: center;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: solid white 1px;
  background-color: rgb(123, 123, 123);
}

.dot:first-child {
  animation: dott2 8s linear infinite;
}

.dot:last-child {
  animation: dott1 8s linear infinite;
}

@keyframes dott1 {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }

  5% {
    transform: scale(1.2);
    filter: brightness(75%);
  }

  50% {
    transform: scale(1.2);
    filter: brightness(75%);
  }

  55% {
    transform: scale(1);
    filter: brightness(100%);
  }

  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
}

@keyframes dott2 {
  0% {
    transform: scale(1.2);
    filter: brightness(75%);
  }

  5% {
    transform: scale(1);
    filter: brightness(100%);
  }

  50% {
    transform: scale(1);
    filter: brightness(100%);
  }

  55% {
    transform: scale(1.2);
    filter: brightness(75%);
  }

  100% {
    transform: scale(1.2);
    filter: brightness(75%);
  }
}
.chuhalmedee {
  height: 385px;
  width: 1055px;
  min-width: none;
  display: flex;
  gap: 15px;
  border-radius: 10px;
  background: #cecece;
  background: -moz-linear-gradient(left, #cecece 0%, #ffffff 17%, #ffffff 100%);
  background: -webkit-linear-gradient(
    left,
    #cecece 0%,
    #ffffff 17%,
    #ffffff 100%
  );
  background: linear-gradient(to right, #cecece 0%, #ffffff 17%, #ffffff 100%);
}
.medeenii_garchig {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 50px 10px 50px 40px;
  gap: 30px;
}
.zandan {
  width: 50%;
  height: 385px;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.zandan_zurag {
  object-fit: cover;
  border-radius: 10px;
}
.margaash {
  width: 139px;
  height: 30px;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margaash p {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  width: 108.64px !important;
}

.garchig {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.garchig h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 26px;
}

.garchig p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: hsla(0, 0%, 26%, 0.9);
}

.share_comment {
  display: flex;
  gap: 10px;
}

.share {
  width: 65.25px;
  height: 36px;
  border-radius: 100px;
  background-color: #f0efef;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65.25px;
  height: 36px;
  gap: 5px;
}

.garchig:hover h1 {
  opacity: 0.8;
}

.margaash:hover {
  width: 150px;
  transition: 0.5s;
}

.share:hover {
  width: 75.25px;
  transition: 0.5s;
}

.share:hover img {
  transform: rotate(30deg) scale(1.2);
  transition: 0.5s;
}

.hidden {
  position: absolute;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  opacity: 0;
}

.zandan:hover .hidden {
  opacity: 1;
  transition: 0.5s;
}

.zandan:hover .zandan_zurag {
  transition: 0.5s;
  filter: brightness(75%);
  transform: scale(1.1);
}

.jijigmedee {
  width: 1055px;
  height: 283px;
  display: flex;
  gap: 15px;
}

.box1 {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
.jijig_zurag {
  border-radius: 10px;
  object-fit: cover;
}

.texter {
  color: black;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.jijig_sh_co {
  display: flex;
  gap: 20px;
}

.share_jijig {
  display: flex;
  gap: 5px;
  align-items: center;
}

.comment_jijig {
  display: flex;
  gap: 5px;
  align-items: center;
}

.zurag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  overflow: hidden;
}

.zurag:hover .jijig_zurag {
  transform: scale(1.1);
  filter: brightness(75%);
  transition: 0.5s;
}

.zurag:hover {
  border-radius: 10px;
}

.zurag:hover .hidden {
  opacity: 1;
}

.zurag .hidden {
  display: absolute;
  font-size: 13px;
}

.texter:hover {
  color: rgb(76, 76, 76);
  transition: 0.5s;
}

.box1:last-child img {
  object-fit: cover;
}

.gogo_stats {
  width: 1055px;
  height: 231.58px;
  border-radius: 30px;
}

.gogo_stats img {
  border-radius: 30px;
}
.second {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}
.header_second {
  width: 1055px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 26px;
  color: #000;
}

.ctori {
  background-color: #00b0f4;
  color: white;
  height: 25px;
  width: 70px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.storys {
  height: 235px;
  width: 1055px;
  overflow: scroll;
}

.scroll {
  height: 100%;
  display: flex;
  gap: 15px;
  width: fit-content;
  overflow: scroll;
}

.box2 {
  position: relative;
  height: 100%;
  width: 161.56px;
  object-fit: cover;
  overflow: hidden;
}

.bulan {
  border-radius: 5px;
}

.logosmall {
  position: absolute;
  top: 10px;
  left: 10px;
}

.uusgalt {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 30%
  );
  border-radius: 5px;
  z-index: 2;
}

.textcontainer {
  padding: 0px 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  bottom: 10px;
  z-index: 2;
}

.textcontainer p {
  overflow-y: hidden;
  font-size: 13px;
  color: white;
  max-height: 33px;
  font-weight: 400;
  transition: max-height 1s;
}

span {
  font-size: 13px;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 500;
}

.nud {
  display: flex;
  align-items: center;
}

.bulan {
  object-fit: cover;
}

.box2:hover .bulan {
  transform: scale(1.1);
  transition: 1s;
}
.box2:hover {
  border-radius: 5px;
}
.box2:hover .textcontainer p {
  overflow-y: scroll;
  max-height: 200px;
}

.main {
  width: 1055px;
  display: flex;
}

.left {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right {
  width: 40%;
  border-left: solid gray 0.5px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.boxo {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-right: 15px;
}

.boxos {
  height: 60.87px;
  width: 86px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.today {
  display: flex;
  gap: 5px;
}

.gray {
  height: 5px;
  width: 100%;
  background-color: gray;
  border-radius: 4px;
}

.today p {
  color: #00b0f4;
  font-size: 14.5px;
}

.date p {
  color: gray;
  font-weight: 300;
  font-size: 13px;
  justify-self: center;
}

.blue {
  background-color: #00b0f4;
}

.blue + p {
  color: #00b0f4;
}

.date {
  position: relative;
  top: 27px;
}

.boxos:first-child .date {
  top: 0px;
}

.boxos:hover .date {
  top: 25px;
  transition: top 0.5s;
}

.boxos:first-child:hover .date {
  top: 0px;
}

.boxo:has(.boxos:hover) .boxos:hover .gray {
  background-color: #00b0f4;
}

.boxo:has(.boxos:hover) .boxos:hover p {
  color: #00b0f4;
}

.boxos:last-child {
  display: flex;
  position: relative;
  height: 19px;
  width: 19px;
  background-color: gray;
  border-radius: 3px;
  top: 27px;
  font-size: 5px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.boxos:last-child .pls {
  color: black;
  font-size: 10px;
  font-weight: 400;
}

.boxos:last-child:hover {
  background-color: #00b0f4;
  color: white;
}

.a {
  width: 100%;
  height: 150px;
}

.b {
  height: 150px;
  width: 210px;
}

.jijighen {
  font-size: 19px !important;
}

.gatsuurhan {
  font-weight: 400;
  font-size: 14px !important;
}

.c {
  gap: 10px;
}

.d {
  margin: 0px 0px 0px 30px;
  gap: 5px;
  width: 60%;
}

.l {
  background-color: white !important;
}
.l:hover {
  width: 65.25px;
}
.l:hover img {
  transform: rotate(0deg) scale(1);
}
.l p,
.la p {
  color: gray;
  font-weight: 400;
}

.la {
  width: fit-content;
}

.tsaash {
  background-color: #f8f8f8;
  width: 95%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: solid gray 0.5px;
}

h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.tsaash:hover {
  background-color: white;
}

.tsaash:hover h3 {
  color: blue;
  transition: 0.5s;
}

.headme {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 30px;
}

h4 {
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
}

.right .box1 {
  width: 95%;
  height: fit-content;
  padding-left: 40px;
  padding-bottom: 20px;
}

.ha p {
  color: gray;
  font-weight: 400;
  font-size: 14px;
}

.trend {
  padding-top: 30px;
  margin-top: 30px;
  background-color: rgb(252, 242, 221);
  padding-left: 40px;
  padding-bottom: 100px;
  padding-right: 40px;
}

.trend_medee {
  display: flex;
  gap: 20px;
  width: 100%;
  border-bottom: dashed rgb(182, 178, 95) 1px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.tom_ulaan {
  font-size: 46px;
  color: #c90027;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-justify: start;
}

.textme p {
  font-weight: 400;
}
.textme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stiky {
  position: sticky;
  padding-top: -20px;
  top: 0;
}

.third {
  width: 1055px;
  justify-self: center;
  padding-top: 100px;
}

.yriltslaga {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 20px;
}

.yrileft {
  height: 100%;
  width: 100%;
}

.yriright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.guravdah {
  padding-left: 0px;
}

.cunt {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 20px;
}

.boxer {
  width: 50%;
  height: 100%;
}
.yri {
  height: 100%;
  width: 100%;
}

.big p {
  font-size: 20px;
  font-weight: 500;
}
